.right-align-div {
    padding: 10px;
    margin: 20px;
    background-color: pink;
}

.right-align-div button {
    background-color: red;
}

.left-align-div {
    padding: 10px;
    margin: 20px;
    background-color: rebeccapurple;
}

#top-div-dashboard {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    align-items: center;
}

#body-dashboard-div {
    display: flex;
    background-color: red;
    /*align-items: center;*/
}

.list-div-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-div {
    margin: 15px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 8px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    background-color: #dedede;
    text-align: left;
    min-width: 250px;
    max-width: 500px;
    font-size: 20px;
    font-weight: bold;
}

.list-header {
    margin-left: 5px;
    text-align: center;
}

.div-border {
    border-bottom: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}


.task-div {
    /*padding: 10px;*/
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

#task-top-div {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    margin-bottom: 10px;
}

#task-top-left-div {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

#task-top-right-div {
    display: flex;

}

.trashcan-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.trashcan-btn svg {
    width: 20px;
    height: 20px;
    fill: #FD3B3B;
}

.trashcan-btn:hover {
    transform: scale(1.5);
}


#task-bot-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    padding: 10px;
}

#task-bot-left-div {
    /*font-size: 16px;*/
    font-size: 20px;
    color: #777;

}

#task-bot-mid-div {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

#task-bot-right-div {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-bottom: 10px;
}

#task-bot-right-div input[type="checkbox"] {
    transform: scale(4);
    margin: 10px;
}

#task-bot-right-div input[type="checkbox"]:hover {
    transform: scale(4.5);

    /*margin: 10px;*/
}

/* Status Overdue */
.status-overdue {
    color: red;
}

/* Task Completed / Strikethrough */
.completed-task {
    text-decoration: line-through;
}

.completed-task-background {
    background-color: #e0e0e0;
}

#form-add-task {
    background-color: #f9f9f9;
    border: 2px solid #cccccc;
    border-radius: 8px;
    padding: 20px;
    /*width: 100%;*/
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#form-add-task-top {
    margin-bottom: 20px;
}

#taskTitle {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    transition: border-color 0.3s;
}

#taskTitle:focus {
    border-color: #007bff;
    outline: none;
}

#form-add-task-bottom {
    margin-bottom: 20px;
}

#deadline {
    /*width: 100%;*/
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.3s;
}

#deadline:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button {
    background-color: #007bff;
}

.add-button:hover {
    background-color: #0056b3;
}

.del-logout-button {
    background-color: #d02424;
}

.del-logout-button:hover {
    background-color: #b70000;

}


#add-task-list-div {
    background-color: #4CAF50;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#form-add-task-top {
    display: flex;
    align-items: start;
}

.status-overdue {
    color: red;
    font-weight: bold;
}

.status-on-time {
    color: #4CAF50;
    font-weight: bold;
}

.completed-task {
    text-decoration: line-through;
}

.completed-task-background {
    background-color: #4CAF50;
}

.trashcan-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
}

.trashcan-btn:hover {
    transform: scale(1.4);
}

.trashcan-btn svg {
    width: 20px;
    height: 20px;
    fill: #FF5733;
}

