.right-align-div {
    padding: 10px;
    margin: 20px;
    background-color: pink;
}

.left-align-div {
    padding: 10px;
    margin: 20px;
    background-color: rebeccapurple;
}

#top-div-dashboard {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    align-items: center;
}

#body-dashboard-div {
    display: flex;
    background-color: red;
    align-items: center;
}

.list-div-holder {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.list-div {
    margin: 15px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 8px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    background-color: #dedede;
    text-align: center;
    min-width: 250px;
    max-width: 500px;
    font-size: 20px;
    font-weight: bold;
}

.list-header {
    margin-left: 5px;
}

.div-border {
    border-bottom: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.task-div {
    padding: 5px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 5px;
    display: flex;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
}


.task-left-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*min-height: 5px;*/
    height: 100%;

}

.task-left-div-top {
    font-size: 25px;
    /*background-color: lightblue;*/
}

.task-left-div-bottom {
    font-size: 20px;
    /*background-color: lightcoral;*/
    margin-top: auto;
}


.task-right-div {
    display: flex;
    flex-direction: column;
    /*height: auto;*/
    justify-content: space-between;
}

.task-right-div-top {

    font-size: 25px;

}

.task-right-div-bottom {
    display: flex;

    justify-content: right;
}

.task-right-div-bottom input[type="checkbox"] {
    transform: scale(3.5);
    margin: 20px;
}

#form-add-task {
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
    margin: 10px;
}

#form-add-task form {
    display: flex;
    align-content: space-between;
    flex-direction: column;
}

#form-add-task form button {

}

#form-add-task form input[type="text"] {
    font-size: 20px;
    width: auto;
    margin-right: 10px;
}

#form-add-task-bottom {
    display: flex;
    font-size: 20px;
    align-content: space-between;
    justify-content: center;
    margin: 5px;

}

#form-add-task form input[type="datetime-local"] {
    font-size: 15px;
    width: auto;
    margin-left: 10px;
}

#add-task-list-div {
    background-color:  #4CAF50;
    display: flex;
    align-items: center;
    padding: 10px;
}


.status-overdue {
    color: red;
    font-weight: bold;
}

.status-on-time {
    color:  #4CAF50;
    font-weight: bold;
}

.completed-task {
    text-decoration: line-through;
}

.completed-task-background {
    background-color: #4CAF50; 
}

