<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baselayout}">


<div layout:fragment="main-content">

    <div id="top-div-dashboard">
        <div class="left-align-div"> <!--Display the name of the currently logged-in user-->
                <h1 th:text="'Välkommen ' + ${session.username}">Välkommen username</h1>
        </div>
        <form th:action="@{/logout}" method="RequestMethod.POST">
            <!--Logout butten is linked to logout-->
            <button type="submit" class="right-align-div"><h3>Logga ut</h3></button>
        </form>
        </div>
    <div id="body-dashboard-div">
        <div class="list-div-holder">

            <!-- Here we create a list div for each list in that user-->
            <div class="list-div" th:each="todoList : ${todoLists}">
                <div class="list-header">
                    <h3 th:text="${todoList.title}">List Title</h3>
                </div>

                <!-- Here we create each task in that list-->
                <div class="list-div" th:each="i : ${#numbers.sequence(1, 5)}">
                    <div><label>Task title</label></div>
                    <div>
                        <label>Deadline: </label>
                    </div>
                    <div><label>Task done: </label> <input type="checkbox"></div>
                </div>


            </div>
        </div>

    </div>
    <!-- Form to create a new list-->
    <div id="add-task-list-div">
        <form th:action="@{/dashboard/createList}" method="post">
            <label for="task-list-title">New List Title!</label>
            <input type="text" id="task-list-title" name="title" required><br>
            <label> Deadline: </label>
            <input type="datetime-local" id="datetime" name="datetime">
            <button type="submit"> Create new task/list</button>
        </form>
        </div>

    </div>


</div>
