<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baselayout}">

<div layout:fragment="main-content">

    <div id="top-div-dashboard">
        <div class="left-align-div"> <!--Display the name of the currently logged-in user-->
            <h1 th:text="'Välkommen ' + ${session.username}+'!'">Välkommen username</h1>
        </div>
        <form th:action="@{/logout}" method="POST">
            <!--Logout button linked to logout-->
            <button type="submit" class="right-align-div">Logga ut</button>

        </form>
    </div>

    <div id="body-dashboard-div">
        <div class="list-div-holder">

            <!-- Here we create a list div for each list in that user-->
            <div class="list-div" th:each="todoList : ${todoLists}">
                <div class="list-header">
                    <h3 th:text="${todoList.title}">Att göra:</h3>
                </div>

                <!-- Task div for each task in that list-->
                <div class="task-div" th:each="task : ${todoList.tasks}">
                    <div class="task-left-div">
                        <div class="task-left-div-top"><label th:text="${task.title}">Task title</label></div>
                        <div class="task-left-div-bottom">
                            <label>Färdigt senast: </label>
                            <span th:text="${#dates.format(task.getTimeInMilliSecDeadLine(), 'yyyy-MM-dd HH:mm')}">Deadline</span>
                        </div>
                    </div>

                    <div class="task-right-div">
                        <div class="task-right-div-top">
                            <span th:if="${task.deadlinePassed()}" class="status-overdue">&#9888; Försenad</span>
                            <!--                            <span th:if="${!task.deadlinePassed()}" class="status-on-time">&#9989; I tid</span>-->
                        </div>

                        <div class="task-right-div-bottom">

                            <input type="checkbox" th:checked="${task.isTaskStatus()}">
                        </div>
                    </div>


                </div>

                <!-- FOrm to add task in list-->
                <div id="form-add-task">
                    <form th:action="@{/dashboard/createTask}" method="post">
                        <input type="hidden" name="listId" th:value="${todoList.id}">
                        <!--                        <label for="taskTitle">Skapa ny uppgift:</label>-->
                        <div id="form-add-task-top">
                            <input type="text" id="taskTitle" name="taskTitle" placeholder="Ny Uppgift" required>
                        </div>


                        <div id="form-add-task-bottom">
                            <label for="deadline">Klart senast:</label>
                            <input type="datetime-local" id="deadline" name="deadline" required>
                        </div>


                        <button type="submit">Lägg till ny</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- Form for creating a new Todo list -->
    <div id="add-task-list-div">
        <form th:action="@{/dashboard/createList}" method="post">
            <label for="task-list-title">Ska ny "Att göra" lista</label>
            <input type="text" id="task-list-title" name="title" required><br>
            <button type="submit">Ska ny att-göra lista</button>
        </form>
    </div>


</div>
</html>
