<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baselayout}">

      <head>
        <link rel="stylesheet" type="text/css" href="registerStyle.css">
    </head>

<div layout:fragment="main-content">
    <h1 class="register-title">Registrera ny användare</h1>

    <div class="register-container">
        <form th:action="@{/register}" method="post">
            <label for="username">Användarnamn</label><br>
            <input type="text" id="username" name="username" required><br>

            <label for="password">Lösenord</label><br>
            <input type="password" id="password" name="password" required><br>

            <label for="confirmePassword">Bekräfta lösenord</label><br>
            <input type="password" id="confirmePassword" name="confirmePassword" required><br>

            <button type="submit">Registrera</button>
        </form>

        <!-- Display error or success messages -->
        <p th:if="${error}" class="error-message" th:text="${error}"></p>
        <p th:if="${message}" class="success-message" th:text="${message}" ></p>
        <!--message fungerar bara på login sida-->

        <a th:href="@{/login}">Tillbaka till login sida</a>
    </div>
</div>
</html>